@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

#container {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 700px;
    height: 400px;
    padding: 10px;
    border-radius: 0.3em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    padding: 20px 0px;
    border-radius: 0.3em;
    font-size: 22px;
    background-color: #373E4A;
    margin: auto;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
}

form{
    background-color: #1D1F20;
    width: 400px;
    height: 150px;
    padding: 0px;
    margin: auto;
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 300px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 100px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type=number] {
    color: #949494;
    margin-top: 0 ;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

*:focus {
    outline: none;
}

#continue {
    padding: 10px 25px;
    margin-top: 20px;
    background: #373b3d;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.item1 {
    grid-area: menu;
}

.item2 {
    grid-area: right;
}

#grid-container {
    display: grid;
    grid-template-areas:
      'menu right right';
    grid-gap: 10px;
    background-color: #1D1F20;
    margin-top: 10px;
}

#grid-container > div {
    background-color: #373E4A;
    text-align: center;
    border-radius: 0.3em;
    height: 320px;
}

.p_method {
    margin: 10px;
}

.head {
    background-color:#1D1F20;
    margin: 10px;
    padding: 10px;
    border-radius: 0.3em;
}

img {
    height: 40px;
    margin: 10px;
    border-radius: 7px;
}

iframe {
    margin: 5px;
    height: 75%;
    width: 95%;
    border: #373E4A;
}